.products-suggested {
    border-top: 2px solid #f8f8f8;
    display: flex;
    justify-content: center;
    @include media-breakpoint-only(xs) {
      padding: 0 15px;
    }
    @include media-breakpoint-only(sm) {
      padding: 0 15px;
    }
    &_container {
        margin: 50px 0;
        &_title {
            font-size: 18px;
        }
        &_swiper {
            margin: 50px 0;
        }
    }
}