.checking-component {
  background-color: '#f4f4f4';
  &_cart {
    padding-bottom: '10vh';
    &_details {
    }
  }
}

.cart-details-component {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 0;
  background-color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  display: flex;
  flex-direction: row;
  &_left {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 156px - 139px);
    padding-left: 10px;
    &_body {
      &_image {
        position: relative;
        width: 80px;
        height: 80px;
        margin-right: 12px;

      }
      &_content {
        &_link {
          display: inline-block;
          width: 328px;
          position: relative;
        }
        &_description {
          display: block;
          width: 100%;
          max-height: 32px;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 0;
          font-size: 14px;
          color: #212121;
          line-height: 16px;
        }
        &_color {
          display: block;
          margin-top: 6px;
          font-size: 12px;
          line-height: 16px;
          color: #757575;
        }
        &_good_desc {
          box-sizing: border-box;
          margin-top: 5px;
          display: flex;
          -webkit-box-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          color: rgb(255, 51, 12);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          min-width: 129px;
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 4px;
        }
      }
    }
  }

  &_middle {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
    width: 156px;
    padding-left: 9px;
    &_current_price {
      font-size: 18px;
      line-height: 64px;
      color: #f57224;
      font-weight: 500;
      margin-bottom: 4px;
      box-sizing: border-box;
      &_private {
        color: $red-d-1;
        margin: 0 15px;
      }
    }
    &_operations {

    }
  }

  &_right {
    box-sizing: border-box;
    vertical-align: top;
    display: table-cell;
    width: 180px;
    text-align: right;
    padding: 16px 40px 16px 0;
    // background-color: #fff;
    font-size: 12px;
    font-weight: 400;
    &_quantity {
      text-align: right;
      box-sizing: border-box;
      color: #212121;
      font-family: Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, Sans-serif;
      font-size: 14px;
      line-height: 1.28571;
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }
  }
}

.order-details-component {
  box-sizing: border-box;
  background-color: #f4f4f4;
  margin: 0 auto;
  margin-bottom: 20px;
  position: sticky;
  top: 70px;
  &_summary_section {
    padding: 16px 12px 0;
    background: #fff;
    &_content {
      box-sizing: border-box;
      border-bottom: 1px solid #eff0f5;
      padding-bottom: 16px;
      &_label {
        font-size: 14px;
        color: #9e9e9e;
        letter-spacing: 0;
        line-height: 18px;
        margin-bottom: 11px;
      }
      &_body {
        display: table;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &_content {

        }
      }
      &_row_between {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        &_label {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          font-size: 14px;
          color: #757575;
          letter-spacing: 0;
          line-height: 21px;
        }
        &_value {
          font-size: 16px;
          line-height: 21px;
          text-align: right;
          color: #202020;
          letter-spacing: -.44px;
          vertical-align: middle;
          margin-right: 5px;
          &_fee_tip {
            display: table-cell;
            font-size: 18px;
            color: #f57224;
            text-align: right;
            box-sizing: border-box;
          }
        }
      }
      &_row_btn {
        margin-top: 15px;
        &_submit {
          width: 100%;
          height: 40px; 
          background: #f57224 !important; 
          color: white !important;
          border: none;
        }
      }
    }
    &_header {
      font-size: 18px;
      color: #212121;
      margin-bottom: 14px;
      position: relative;
      font-weight: 500;
    }
  }
}

.select-address-form {
  &_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_space {
      display: flex;
      flex-direction: row;
      justify-content: center;
      &_icon {

      }
      &_text {

      }
    }
    &_form {
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      color: #1a9cb7;
      line-height: 16px;
      height: 40px;
      text-align: right;
      &_link {
        line-height: '2.4em'
      }
    }
  }
  &_adress {
    font-size: 12px;
    padding-left: 15px;
    margin-bottom: 15px;
    &_tag {
      background-image: linear-gradient(39deg, rgb(0, 148, 182) 0%, rgb(91, 187, 206) 100%);
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      padding: 2px 13px;
      border-radius: 99px;
      margin-right: 10px
    }
    &_text {

    }
  }
}

.proceed-to-payment-component {
  &_title {
    padding: 16px 0;
    font-size: 22px;
    font-weight: 400;
    color: #424242;
  }
  &_row {
    background: white;
  }
  &_payment_method {
    padding: 30px;
    background: #fff;
    box-shadow: 0 1px 2px 0 #ccc;
    &_content {

    }
  }
  .payment-tag-component {
    padding-top: 20px;
    margin: 0 4px 0px 0;
    text-align: center;
    background-color: #f5f6f9;
    border: 1px solid #0002;
    padding-bottom: 20px;
    cursor: pointer;
    &.active {
      background-color: white;
      border: none;
      margin: 0;
      padding-top: 22px;
    }
    &_image {
      width: 120px;
      height: 100px;
      margin: 0px auto 12px auto;
      color: #183545;
      vertical-align: middle;
      border: none;
      text-align: center;
    }
    &_title {
      font-size: 12px;
      font-weight: 700;
      line-height: 12px;
      margin-bottom: 4px;
      color: #404040;
      text-align: center;
    }
  }
}