.inputForm {
    border-radius: 8px;
    padding: 12px 11px
}

.boxBtnLink {
    width: 100%;
    text-align: center;
}
.btnLink {
    float: right;
    span {
        color: #4b5b79;
    }
}
.btnSignIn {
    width: 100%;
    padding: 18px 0px;
    margin: 10px 0px;
}